<div *ngIf="currentCategory.id">
    <h1>Category</h1>
    <button class="badge badge-warning" (click)="updateCategory()">
        Edit
    </button>
    <button class="badge badge-danger mr-2" (click)="deleteCategory()">
        Delete
    </button>
    <div>
        <label><strong>Name:</strong></label> {{ currentCategory.name }}
    </div>
    <div>
        <label><strong>Subcategories:</strong></label>
        <ul>
            <li *ngFor="let subcat of currentCategory.subcategories">{{subcat.subcategory}}</li>
        </ul>
    </div>
    <div>
        <label><strong>Questions:</strong></label>
        <ul>
            <li *ngFor="let question of currentCategory.questions">
                Question: {{question.question}}<br/>
                Datatype: {{question.datatype}}<br/>
                Default: {{question.defaultValue}}<br/>
                Hidden: {{question.hidden}}<br/>
                ListColumn: {{question.listColumn}}</li>
        </ul>
    </div>
</div>