<div *ngIf="currentCategory.id">
    <h4>Category</h4>
    <div>
        <label><strong>Name:</strong></label> {{ currentCategory.name }}
    </div>
    <div>
        <label><strong>Subcategories:</strong></label>
        <ul>
            <li *ngFor="let subcat of currentCategory.subcategories">{{subcat.subcategory}}</li>
        </ul>
    </div>
    <div>
        <label><strong>Questions:</strong></label>
        <ul>
            <li *ngFor="let question of currentCategory.questions">{{question.question}} - {{question.datatype}} - {{question.defaultValue}}</li>
        </ul>
    </div>

    <button class="badge badge-danger mr-2" (click)="deleteCategory()">
        Delete
    </button>
    <a class="badge badge-warning" (click)="updateCategory()">
        Edit
    </a>
</div>