<div class="list row" xmlns="http://www.w3.org/1999/html">
    <!--    <div class="col-md-8">-->
    <!--        <div class="input-group mb-3">-->
    <!--            <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title"/>-->
    <!--            <div class="input-group-append">-->
    <!--                <button class="btn btn-outline-secondary" type="button" (click)="searchName()">-->
    <!--                    Search-->
    <!--                </button>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="col-md-6">
        <!--        <p>Chosen category: {{category?.name}}, id: {{category?.id}}</p>-->
        <!--        <p>Chosen subcategory: {{subcategory?.subcategory}}, id: {{subcategory?.subcategoryId}}</p>-->
        <h1>{{category?.name ? category?.name : subcategory?.subcategory}} collection</h1>
    </div>

    <mat-table class="mat-elevation-z8" [dataSource]="tabledata" matSort>
        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.get(column) }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="openCollectible(row)" *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</div>
