<div class="details-view row">

    <div *ngIf="message">
        <h1>{{message}}</h1>
    </div>
    <div class="col-md-8" *ngIf="currentCollectible.images != undefined && currentCollectible.images.length>0">
        <div *ngIf="currentCollectible.images.length>1;else single">
            <a href="{{img.url}}" *ngFor="let img of currentCollectible.images" target="_blank">
                <img src="{{img.url}}" alt="{{img.url}} niet gevonden" class="multiple-images"/>
            </a>
        </div>
        <ng-template #single>
            <a href="{{currentCollectible.images[0].url}}" target="_blank">
                <img src="{{currentCollectible.images[0].url}}" class="single-image"
                     alt="{{currentCollectible.images[0].url}} niet gevonden"/>
            </a>
        </ng-template>
    </div>
    <div class="col-md-4" *ngIf="!currentCollectible.images || currentCollectible.images.length<1"></div>
    <div class="col-md-4">
        <div class="header-buttons" *ngIf="ownerIsLoggedIn">
            <button class="btn btn-warning" (click)="updateCollectible()">Update</button>
            <button class="btn btn-danger" (click)="deleteCollectible()">Delete</button>
        </div>
        <div id="collectible-header">
            <h1>{{currentCollectible.name}}</h1>
        </div>

        <div>
            <label><strong>Subcategory:</strong></label>
            {{ currentCollectible.subcategory == undefined ? '' : currentCollectible.subcategory.subcategory }}
        </div>
        <div>
            <label><strong>Date added:</strong></label> {{ currentCollectible.addedDate}}
        </div>

        <div *ngFor="let triple of currentCollectible.triples">
            <div *ngIf="ownerIsLoggedIn ||!triple.question.hidden">
                <ng-container *ngIf="triple.question.datatype === 'URL'">
                    <label><strong>{{triple.question.question}}:</strong></label>
                    <a href="{{triple.value}}" target="_blank"> {{triple.value}}</a>
                </ng-container>
                <ng-container *ngIf="triple.question.datatype === 'Checkbox'">
                    <label><strong>{{triple.question.question}}:</strong></label>
                    <mat-icon style="color: green" *ngIf="triple.value=='true'; else nope">check_box</mat-icon>
                    <ng-template #nope>
                        <mat-icon style="color: red">cancel</mat-icon>
                    </ng-template>
                </ng-container>
                <ng-container *ngIf="triple.question.datatype != 'URL' && triple.question.datatype != 'Checkbox'">
                    <label><strong>{{triple.question.question}}:</strong></label> {{ triple.value}}
                </ng-container>
            </div>
        </div>
    </div>
</div>