<div *ngIf="viewMode">
    <div *ngIf="currentCollectible.id">
        <h4>Collectible</h4>
        <div>
            <label><strong>Name:</strong></label> {{ currentCollectible.name }}
        </div>
        <div>
            <label><strong>Category:</strong></label>
            {{ currentCollectible.subcategory == undefined ? '' : currentCollectible.subcategory.subcategory }}
        </div>
        <div>
            <label><strong>Date added:</strong></label> {{ currentCollectible.addedDate}}
        </div>
        <div>
            <label><strong>Images:</strong></label>
            <ul>
                <li *ngFor="let img of currentCollectible.images">{{img.url}}</li>
            </ul>
        </div>

        <a class="badge badge-warning" (click)="updateCollectible()">
            Edit
        </a>

        <button class="badge badge-danger mr-2" (click)="deleteCollectible()">
            Delete
        </button>
    </div>

    <div *ngIf="!currentCollectible">
        <br/>
        <p>Please click on a Collectible...</p>
    </div>
</div>