.details-view {
    text-align: left;
    max-width: 60%;
    margin: auto;
}

#collectible-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.list-header {
    margin: 0;
}

.header-buttons {
    margin-left: auto;
}

button {
    margin: 3px;
}

img {
    padding: 2px;
}

.multiple-images {
    max-width: 49%;
}

.single-image {
    max-width: 98%;
}

/* Mobile */
@media only screen and (max-width: 800px), only screen and (max-height: 800px) {
    [class*="details-view"] {
        max-width: 100%;
    }
}