<div class="details-view row">

    <div *ngIf="message">
        <h1>{{message}}</h1>
    </div>
    <div class="col-md-6" *ngIf="currentCollectible.images != undefined && currentCollectible.images.length>0">
        <a href="{{img.url}}" *ngFor="let img of currentCollectible.images" target="_blank">
            <img src="{{img.url}}" alt="{{img.url}} niet gevonden"/>
        </a>
    </div>
    <div class="col-md-2" *ngIf="!currentCollectible.images || currentCollectible.images.length<1"></div>
    <div class="col-md-6">
        <div id="collectible-header">
            <h1>{{currentCollectible.name}}</h1>
            <div class="header-buttons">
                <button class="btn btn-warning" (click)="updateCollectible()">Update</button>
                <button class="btn btn-danger" (click)="deleteCollectible()">Delete</button>
            </div>
        </div>

        <div>
            <label><strong>Subcategory:</strong></label>
            {{ currentCollectible.subcategory == undefined ? '' : currentCollectible.subcategory.subcategory }}
        </div>
        <div>
            <label><strong>Date added:</strong></label> {{ currentCollectible.addedDate}}
        </div>

        <div *ngFor="let triple of currentCollectible.triples">
            <label><strong>{{triple.question.question}}:</strong></label> {{ triple.value}}
        </div>
    </div>
</div>