.submit-form {
    max-width: 400px;
    margin: auto;
}

.list-group-item:hover {
    filter: brightness(90%);
    cursor: pointer;
}

/* Mobile */
@media only screen and (max-width: 800px) {
    [class*="submit-form"] {
        max-width: 100%;
    }
}