.import-form {
    max-width: 40%;
    margin: auto;
}

.file-input {
    display: none;
}

/* Mobile */
@media only screen and (max-width: 800px) {
    [class*="import-form"] {
        max-width: 100%;
    }
}