<div class="list row">
    <div class="col-md-6">
        <div id="categories-header">
            <h1 class="list-header">Categories</h1>
            <button class="header-button btn btn-success" routerLink="../updateCategory">Add</button>
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let category of categories; let i = index" [class.active]="i == currentIndex"
                (click)="setActiveCategory(category, i)">
                {{ category.name }}
            </li>
        </ul>

        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllCategories()">
            Remove All
        </button>
    </div>
    <div class="col-md-6">
        <app-category-details [currentCategory]="currentCategory"></app-category-details>
    </div>
</div>
