<div class="profile-page" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
        <h3>
            <strong>{{ currentUser.username }}</strong> Profile
        </h3>
    </header>
    <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
    </p>
    <button class="btn btn-danger" (click)="removeAllCollectibles()">Delete all your collectibles</button>
    <button class="btn btn-danger" (click)="removeAllCategories()">Delete all your categories</button>

</div>

<ng-template #loggedOut>
    Please login.
</ng-template>
