<div class="home">
    <header class="jumbotron" style="font-size: large">
        <p *ngIf="!isLoggedIn">
            <a href="register">Register here</a> to start tracking your own collection or check out the collection of a specific user below.
        </p>
        <p *ngIf="isLoggedIn">
            Welcome back {{username}}!<br/>
            Check out your collection <a href="collection/{{username}}">here</a> or check out the collection of a specific user below.
        </p>
    </header>

    <h1>User collections</h1>
    <mat-nav-list class="list-group">
        <mat-list-item *ngFor="let user of users" class="list-group-item" [routerLink]="['/collection/'+user]">
            {{user}}
        </mat-list-item>
    </mat-nav-list>
</div>
