<div>
    <mat-toolbar class="navbar navbar-expand navbar-dark">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened"> menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened"> close</mat-icon>
        </button>
        <a href="#" class="navbar-brand">CollectionTracker</a>
        <div class="navbar-nav mr-auto">
            <!--            <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>-->
        </div>
        <div class="navbar-nav" *ngIf="!isLoggedIn">
            <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
            <a href="/login" class="nav-link" routerLink="login">Login</a>
        </div>
        <div class="navbar-nav" *ngIf="isLoggedIn">
            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
            <a class="nav-link" style="cursor: pointer" (click)="logout()">LogOut</a>
        </div>

    </mat-toolbar>

    <mat-sidenav-container hasBackdrop="false">
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
            <button mat-button class="menu-button" routerLink="">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>

            <div *ngIf="isLoggedIn">
                <mat-divider/>
                <button mat-button class="menu-button" routerLink="/collection/{{username}}">
                    <mat-icon>collections_bookmark</mat-icon>
                    <span>My collection</span>
                </button>

                <button mat-button class="menu-button" routerLink="/pickCategory">
                    <mat-icon>add_to_photos</mat-icon>
                    <span>Add collectible</span>
                </button>

                <button mat-button class="menu-button" routerLink="/updateCategory">
                    <mat-icon>folder</mat-icon>
                    <span>Add category</span>
                </button>

                <mat-divider/>

                <div *ngFor="let category of categories">
                    <div class="list row">
                        <div class="col-md-8">
                            <button mat-button class="menu-button" (click)="chooseCategory(category)">
                                <span>{{category.name}}</span>
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button mat-icon-button class="icon-display" (click)="updateCategory(category)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                    <ul style="list-style-type: none">
                        <li *ngFor="let subcat of category.subcategories">
                            <button mat-button class="menu-button" (click)="chooseSubcategory(subcat)">
                                <span>{{subcat.subcategory}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>