<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="name">Name</label>
                <input
                        type="text"
                        class="form-control"
                        id="name"
                        required
                        [(ngModel)]="collectible.name"
                        name="title"
                />
            </div>

            <div class="form-group">
                <label for="subcategory">Category</label>
                <input
                        class="form-control"
                        id="subcategory"
                        required
                        [(ngModel)]="collectible.subcategory"
                        name="subcategory"
                />
            </div>

            <button (click)="saveCollectible()" class="btn btn-success">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>Collectible was added successfully!</h4>
            <button class="btn btn-success" (click)="newCollectible()">Add</button>
        </div>
    </div>
</div>
