<div [formGroup]="categoryForm" class="submit-form">

    <div *ngIf="submitted">
        <h1>{{message}}</h1>
        <br/>
    </div>

    <div *ngIf="currentCategory.id">
        <h1>Update category</h1>
    </div>
    <div *ngIf="!currentCategory.id">
        <h1>Add category</h1>
    </div>

    <mat-form-field class="form-group">
        <mat-label>Name</mat-label>
        <input matInput id="name" formControlName="name" required/>
    </mat-form-field>

    <div formArrayName="subcategories">
        <table class="table table-borderless">
            <tr>
                <th><h2>Subcategories</h2></th>
                <th>
                    <button class="btn btn-info" (click)="addNewSubcategory()">Add subcategory</button>
                </th>
            </tr>
            <tr *ngFor="let subcategory of subcategoriesFormArray().controls; let i = index" [formGroupName]="i">
                <td class="pt-0">
                    <mat-form-field class="list-input">
                        <mat-label>Subcategory</mat-label>
                        <input matInput id="{{'subcategory'+i}}" formControlName="subcategory"/>
                    </mat-form-field>
                <td class="pt-0">
                    <button mat-icon-button color="warn" style="transform: scale(1.25)" (click)="removeSubcategory(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div formArrayName="questions">
        <table class="table table-borderless">
            <tr>
                <th><h2>Questions</h2></th>
                <th>
                    <button class="btn btn-info" (click)="addNewQuestion()">Add question</button>
                </th>
            </tr>
            <tr>
                <td>Question</td>
                <td>Datatype</td>
                <td>Default value</td>
                <td>Show on list</td>
                <td>Hidden</td>
            </tr>
            <tr *ngFor="let question of questionsFormArray().controls; let i = index" [formGroupName]="i">
                <td class="pt-0">
                    <mat-form-field class="list-input">
                        <mat-label>Question</mat-label>
                        <input matInput id="{{'question'+i}}" formControlName="question"/>
                    </mat-form-field>
                </td>
                <td class="pt-0">
                    <mat-form-field class="list-input">
                        <mat-label>Datatype</mat-label>
                        <mat-select formControlName="datatype" id="{{'datatype'+i}}">
                            <mat-option *ngFor="let datatype of datatypes" [value]="datatype">{{datatype}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td class="pt-0">
                    <mat-form-field class="list-input">
                        <mat-label>Default value</mat-label>
                        <input matInput id="{{'defaultValue'+i}}" formControlName="defaultValue"/>
                    </mat-form-field>
                </td>
                <td class="pt-0">
                    <mat-checkbox id="{{'listColumn'+i}}" formControlName="listColumn"/>
                </td>
                <td class="pt-0">
                    <mat-checkbox id="{{'hidden'+i}}" formControlName="hidden"/>
                </td>
                <td class="pt-0">
                    <button mat-icon-button color="warn" style="transform: scale(1.25)" (click)="removeQuestion(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <button (click)="saveCategory()" [disabled]="categoryForm.invalid" class="btn btn-success">Save</button>
    <button *ngIf="currentCategory.id" class="btn btn-danger" style="margin: 2px" (click)="deleteCategory()">Delete</button>
</div>