.submit-form {
    max-width: 60%;
    margin: auto;
}

mat-form-field {
    width: 100%;
}

mat-checkbox {
    margin-top: 0.75em;
    transform: scale(1.5);
}

.dragdrop-placeholder {
    background: #ccc;
    border: dotted 2px;
}

.drag-handle {
    margin-top: 0.75em;
    cursor: move;
}

.show-mobile {
    display: none;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: black;
}

/* Mobile */
@media only screen and (max-width: 800px), only screen and (max-height: 800px) {
    [class*="submit-form"] {
        max-width: 100%;
    }

    [class*="hide-drag-mobile"] {
        display: none;
    }

    [class*="label-with-button"] {
        max-width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    [class*="hide-mobile"] {
        display: none;
    }

    [class*="formfield-with-button"] {
        width: 80%;
    }

    [class*="formfield-button"] {
        width: 20%;
    }

    [class*="show-mobile"] {
        display: block;
    }
}