<div>
    <div class="submit-form">
            <form>
                <div class="form-group">
                    <label for="name"><strong>Name</strong></label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="currentCategory.name" name="name"/>
                </div>

                <table class="table table-borderless" formArrayName="subcategories">
                    <tr>
                        <th>Subcategories</th>
                        <th>
                            <button (click)="addNewSubcategory()" class="badge badge-info">Add subcategory</button>
                        </th>
                    </tr>
                    <tr *ngFor="let subcategory of currentCategory.subcategories; let i = index">
                        <td><input type="text" class="form-control" name="{{'subcategories'+i}}" id="{{'subcategories'+i}}"
                                   [(ngModel)]="subcategory.subcategory"/></td>
                        <td>
                            <button class="badge badge-danger" (click)="removeSubcategory(i)">Delete</button>
                        </td>
                    </tr>
                </table>

                <table class="table table-borderless" formArrayName="questions">
                    <tr>
                        <th>Questions</th>
                        <th>
                            <button (click)="addNewQuestion()" class="badge badge-info">Add question</button>
                        </th>
                    </tr>
                    <tr>
                        <td>Question</td>
                        <td>Datatype</td>
                        <td>Default value</td>
                        <td>Show on list</td>
                        <td>Hidden</td>
                    </tr>
                    <tr *ngFor="let question of currentCategory.questions; let i = index">
                        <td>
                            <input type="text" class="form-control" name="{{'question'+i}}" id="{{'question'+i}}"
                                   [(ngModel)]="question.question"/>
                        </td>
                        <td>
                            <select [(ngModel)]="question.datatype" class="form-control" id="{{'datatype'+i}}" name="{{'datatype'+i}}">
                                <option *ngFor="let datatype of datatypes" [ngValue]="datatype">{{datatype}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="{{'defaultValue'+i}}" id="{{'defaultValue'+i}}"
                                   [(ngModel)]="question.defaultValue"/>
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" name="{{'listColumn'+i}}" id="{{'listColumn'+i}}"
                                   [(ngModel)]="question.listColumn"/>
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" name="{{'hidden'+i}}" id="{{'hidden'+i}}"
                                   [(ngModel)]="question.hidden"/>
                        </td>
                        <td>
                            <button class="badge badge-danger" (click)="removeQuestion(i)">Delete</button>
                        </td>
                    </tr>
                </table>

            </form>

            <button (click)="saveCategory()" class="btn btn-success">Save</button>
    </div>
</div>
