.submit-form {
    max-width: 60%;
    margin: auto;
}

mat-form-field {
    width: 100%;
}

mat-checkbox {
    margin-top: 0.75em;
    transform: scale(1.5);
}

.dragdrop-placeholder {
    background: #ccc;
    border: dotted 2px;
}

.drag-handle {
    margin-top: 0.75em;
    cursor: move;
}