.submit-form {
    max-width: 400px;
    margin: auto;
}

mat-list-item {
    background-color: white;
}

/* Mobile */
@media only screen and (max-width: 800px) {
    [class*="submit-form"] {
        max-width: 100%;
    }
}