<div [formGroup]="collectibleForm" class="submit-form">

    <div *ngIf="submitted">
        <h1>{{message}}</h1>
        <button class="btn btn-success" (click)="newCollectible()">Add another</button>
        <button class="btn btn-success" (click)="navigateToDetails()">Show collectible details</button>
        <br/>
    </div>

    <div *ngIf="currentCollectible.id">
        <h1>Update collectible</h1>
    </div>
    <div *ngIf="!currentCollectible.id">
        <h1>Add collectible</h1>
    </div>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput id="name" formControlName="name" required/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Subcategory</mat-label>
        <mat-select formControlName="subcategory" id="subcategory">
            <mat-option *ngFor="let subcat of currentCategory?.subcategories" [value]="subcat">{{subcat.subcategory}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div formArrayName="triples">
        <div *ngFor="let triple of triplesFormArray().controls; let i = index" [formGroupName]="i">
            <div *ngIf="showDatatypeSpecificInput(triple.value.question.datatype,'Checkbox')">
                <mat-label>{{triple.value.question.question}}:</mat-label>
                <mat-checkbox id="{{'tripleCheckbox'+i}}" formControlName="value"/>
            </div>
            <mat-form-field *ngIf="showDatatypeSpecificInput(triple.value.question.datatype,'Date')">
                <mat-label>{{triple.value.question.question}}</mat-label>
                <input matInput [matDatepicker]="dp" id="{{'tripleDate'+i}}" formControlName="value"/>
                <mat-hint>DD-MM-YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
            <mat-form-field *ngIf="showDatatypeSpecificInput(triple.value.question.datatype,'Text')">
                <mat-label>{{triple.value.question.question}}</mat-label>
                <input matInput id="{{'tripleText'+i}}" formControlName="value"/>
            </mat-form-field>
        </div>
    </div>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div formArrayName="images">
            <div class="row">
                <h2 class="col-md-10">Images</h2>
                <button (click)="addNewImage()" class="btn btn-info">Add image url</button>
            </div>

            <div *ngFor="let imageLink of imagesFormArray().controls; let i = index" [formGroupName]="i" class="row" cdkDrag>
                <div>
                    <div class="dragdrop-placeholder" *cdkDragPlaceholder></div>
                    <mat-icon class="drag-handle" cdkDragHandle>drag_indicator</mat-icon>
                </div>

                <mat-form-field class="col-md-10">
                    <mat-label>url</mat-label>
                    <input matInput id="{{'imageLink'+i}}" formControlName="url"/>
                </mat-form-field>
                <button mat-icon-button color="warn" class="delete-button" (click)="removeImage(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <button (click)="saveCollectible()" [disabled]="collectibleForm.invalid" class="btn btn-success">Save</button>
</div>