<div class="submit-form">

    <div *ngIf="submitted">
        <h4>{{message}}</h4>
        <button class="btn btn-success" (click)="newCollectible()">Add another</button>
        <br/>
    </div>

    <div *ngIf="currentCollectible.id">
        <p>Update collectible</p>
    </div>
    <div *ngIf="!currentCollectible.id">
        <h4>Add collectible</h4>
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="currentCollectible.name" name="name"/>
    </div>

    <div class="form-group">
        <label for="subcategory">Type</label>
        <select [(ngModel)]="currentCollectible.subcategory" class="form-control" id="subcategory" name="subcategory">
            <option *ngFor="let subcat of currentCategory?.subcategories" [ngValue]="subcat">{{subcat.subcategory}}</option>
        </select>
    </div>

    <table class="table table-borderless" formArrayName="images">
        <tr>
            <th>Images</th>
            <th>
                <button (click)="addNewImage()" class="badge badge-info">Add image url</button>
            </th>
        </tr>
        <tr *ngFor="let imageLink of currentCollectible.images; let i = index">
            <td><input type="text" class="form-control" name="{{'image'+i}}" id="{{'image'+i}}"
                       [(ngModel)]="imageLink.url"/></td>
            <td>
                <button class="badge badge-danger" (click)="removeImage(i)">Delete</button>
            </td>
        </tr>
    </table>

    <button (click)="saveCollectible()" class="btn btn-success">Submit</button>
</div>