.submit-form {
    max-width: 50%;
    margin: auto;
}

button {
    margin: 2px;
}

mat-form-field {
    width: 100%;
}

mat-checkbox {
    transform: scale(1.5);
    margin-bottom: 1em;
}

.delete-button {
    transform: scale(1.25);
}

.list-input {
    margin-bottom: -1.25em;
}

.dragdrop-placeholder {
    background: #ccc;
    border: dotted 2px;
}

.drag-handle {
    margin-top: 0.75em;
    cursor: move;
}

/* Mobile */
@media only screen and (max-width: 800px) {
    [class*="submit-form"] {
        max-width: 100%;
    }
}